<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="tests-added-plugin"
      version="1.0.0">

    <name>tests-added-plugin</name>
    <description>A plugin that contains code to be used in some tests.</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/tests-added-plugin</repo>
    <issue>https://github.com/tests-added-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <js-module src="www/CordovaTestPlugin.js" name="CordovaTestPlugin">
        <clobbers target="CordovaTestPlugin" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaTestPlugin">
                <param name="android-package" value="com.rdmr.plugins.CordovaTestPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/CordovaTestPlugin.java" target-dir="src/com/rdmr/plugins" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaTestPlugin">
                <param name="ios-package" value="CordovaTestPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CordovaTestPlugin.h"/>
        <source-file src="src/ios/CordovaTestPlugin.m" />
    </platform>

</plugin>
