<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="tests-added-plugin"
      version="1.0.0">

    <name>tests-added-plugin</name>
    <description>A plugin that contains code to be used in some tests.</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/tests-added-plugin</repo>
    <issue>https://github.com/tests-added-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="LOCALYTICS_APP_KEY" android:value="1234567890abcdef" />
        </config-file>
    </platform>

</plugin>